{{ $content_type := .Params.content_type }}
{{if $content_type}}
{{ $t := .Site.GetPage $content_type }}
{{ $rscPages := $t.Resources.ByType "page"}}

{{if gt (len $rscPages) 0}}
<div class="projects row w-100">
    <div class="col w-100">
        {{range $page := sort $rscPages "Params.date" "desc"}}
        <div class="project row w-100">
            <div class="section-1 w-100">
                <span class="project-title">
                    {{$page.Params.title}}
                </span>
            </div>

            {{ $links := $page.Params.links }}
            {{ if $links }}
            <div class="section-2  w-100">
                {{ if $links.website }}
                <a class="main_color text-decoration-none rounded " href="{{$links.website}}" target="_blank">
                    {{if $links.alias}} {{$links.alias}} {{else}} website {{end}}
                </a>
                {{end}}
            </div>
            {{end}}


        </div>
        {{end}}


    </div>
    {{end}}
</div>
{{end}}