{{ $content_type := .Params.content_type }}

{{ $aboutPage := .Site.GetPage $content_type }}

<div class="row w-100 justify-content-center">
    <img class="rounded-circle  " src="images/profile.png" alt="profile_picture" id="profile_picture" />
</div>


{{ if $aboutPage.Params.full_name }}
<div class=" row w-100 justify-content-center main_color" id="full_name">
    {{ $aboutPage.Params.full_name }}
</div>
{{end}}

{{ if $aboutPage.Params.affiliations }}
<div class="affiliations row w-100 justify-content-center">
    <div class="row w-100 justify-content-center">
        {{ range $key, $value := $aboutPage.Params.affiliations }}
        <div class="row w-100 justify-content-center" id="title-name">
            <span class="main_color" id="title">
                {{$value.affiliation.title}},
            </span>
            <span id="name" class="text-muted">
                {{$value.affiliation.name}}
            </span>
        </div>
        <div class="row w-100 justify-content-center text-muted" id="email">
            {{$value.affiliation.email}}
        </div>


        {{ end }}
    </div>
</div>
{{end}}

{{ if $aboutPage.Params.socials }}
<div class="socials row w-100  justify-content-center">
    <div class="row w-100 justify-content-center">
        {{ $google_scholar := index $aboutPage.Params.socials "google_scholar"}}
        {{ $facebook := index $aboutPage.Params.socials "facebook"}}
        {{ $twitter := index $aboutPage.Params.socials "twitter"}}
        {{ $twitch := index $aboutPage.Params.socials "twitch"}}
        {{ $github := index $aboutPage.Params.socials "github"}}
        {{ $linkedin := index $aboutPage.Params.socials "linkedin"}}
        {{ $cv := $aboutPage.Params.cv }}
        {{ $blog := $aboutPage.Params.blog}}


        {{if $google_scholar}}
        <a class="main_color" rel="me" href='https://scholar.google.com/{{$google_scholar}}' target="_blank">
            <i class="ai ai-2x ai-google-scholar academic_icons_customize"></i>
        </a>
        {{end}}

        {{ if $github }}
        <a class="main_color" rel="me" href='https://github.com/{{$github}}' target="_blank">
            <i data-feather="github"></i>
        </a>
        {{end}}

        {{ if $twitter }}
        <a class="main_color" rel="me" href='https://twitter.com/{{$twitter}}' target="_blank">
            <i data-feather="twitter"></i>
        </a>
        {{end}}

        {{ if $facebook }}
        <a class="main_color" rel="me" href='https://facebook.com/{{$facebook}}' target="_blank">
            <i data-feather="facebook"></i>
        </a>
        {{end}}

        {{ if $linkedin }}
        <a class="main_color" rel="me" href='https://linkedin.com/in/{{$linkedin}}' target="_blank">
            <i data-feather="linkedin"></i>
        </a>
        {{end}}

        {{ if $twitch }}
        <a class="main_color" rel="me" href='https://twitch.com/{{$twitch}}' target="_blank">
            <i data-feather="twitch"></i>
        </a>
        {{end}}

        {{if $cv}}
        <a class="main_color" href='{{$cv}}' target="_blank">
            <i class="ai ai-2x ai-cv academic_icons_customize"></i>
        </a>
        {{end}}

        {{ if $blog }}
        <a id="blog_logo" class="main_color" href='/blog' target="_blank">
            <i class="ai ai-2x ai-blog academic_icons_customize">Blog</i>

        </a>
        {{ end }}


    </div>
</div>
{{end}}

{{if $aboutPage.Content }}
<div class="introduction row w-100 text-justify">
    <div class="col w-100">
        {{$aboutPage.Content}}
    </div>
</div>
{{end}}