{{ define "main" }}

{{ partial "blog/blog_navbar.html" (dict "1" "about" ) }}

{{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
{{ $paginator := .Paginator }}

<h1>All Posts</h1>

{{ range $paginator.Pages.ByPublishDate.Reverse }}

<p>
    <!-- start of each blog post -->
    {{ partial "blog/blog_post_header.html" . }}

    {{ partial "blog/blog_post_body.html" . }}


    <!-- end each blog post -->
</p>

{{ end }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}

{{ template "_internal/pagination.html" . }}

{{ end }}


{{ end }}