{{ define "main" }}

{{ $projectLogo := "logo.png" | printf "%s%s" .Dir }}

{{ if fileExists $projectLogo -}}
<div class="header">
  <img src="logo.png" class="logo">
</div>
{{- end}}

<div class="header wrapper">
  <span class="page_title">
    {{ title .Title }}
  </span>
  <ul class="flat">
    <li class="page_meta">{{ .Date.Format "January 2, 2006" }}</li>
  </ul>
  <a href="{{ .Site.BaseURL }}" title="Home" class="page_meta">Return Home</a>
</div>


<div class="content wrapper">
  {{ .Content | markdownify }}
</div>

{{end}}
