{{ $readTime := mul (div (countwords .Content) 220.0) 60 }}

<h3>
    <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
</h3>

<div class="reading_time secondary_font text-muted ">
    <span>
        {{ .Date | time.Format "Jan 2 2006" }} · {{ math.Ceil (div $readTime 60) }} min read
    </span>

</div>


<!-- show tags if they are any -->
{{ if .Params.tags }}
<div class="tags_navigation">
    {{ range .Params.tags }}
    <a class="tag" href="/tags/{{ . }}/">#{{ . }}</a>
    {{ end }}
</div>
{{ end }}